/* 
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 | 12 | 14 | 16 | 18 | 20 | 24 | 30 | 36 | 44 | 52 | 62 | 74 | 86 | 98

- Font weight 
Default: 400

- Line heights
Default: 1

--- 02 COLORS
- Primary: #ff6b6b
- Tints: #f03e3e
- Shades:
- Accents:
- Greys: #555  

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Space system (px)
2 | 4 | 8 | 12 | 16 | 24 | 32 | 48 | 64 | 80 | 96 | 128
*/

/* CSS BASICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

/* ******************NAVIGATION BAR******************* */
.comp-n {
    text-align: center;
    padding: 15px 0;
    background: linear-gradient(#00000073, #00000093), url(../imgs/about-bg-5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.comp {
    font-size: 4rem;
    font-family: sans-serif;
    letter-spacing: 5px;
    color: #fff;
}

.nav-list {
    max-width: 200rem;
}

.links-icons {
    padding: 3rem 5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.social-links {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.nav-link:link,
.nav-link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: #333;
}

.nav-link:hover,
.nav-link:active {
    color: blue;
}

.so-icon:link,
.so-icon:visited {
    text-decoration: none;
    font-size: 1.4rem;
    width: 20px;
    height: 20px;
}

.s-icon:link,
.s-icon:visited {
    padding: 20px 8px 10px;
    background: #2222225e;
    border-radius: 50%;
    fill: #fff;
    transition: all 0.3s;
}

.insta:hover,
.insta:active {
    background-color: purple;
}

.twit:hover,
.insta:active {
    background-color: blue;
}

.tik:hover,
.insta:active {
    background-color: #c91717;
}

.hide {
    display: none;
}

.cancel-icon {
    display: none;
}

#ham {
    cursor: pointer;
}

.disabled {
    display: none;
}

.active {
    color: orange;
    text-decoration: underline;
}