/* *****AT 1200PX****** */
@media (min-width: 75em) {
    html {
        font-size: 80%;
    }

    .img-box {
        grid-template-columns: repeat(5, 1fr)
    }
}

/* *****AT 896PX****** */
@media (max-width: 56em) {
    .hide-links {
        display: none;
        position: fixed;
        flex-direction: column;
        gap: 50px;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 60vw;
        height: 80vh;
        text-align: center;
        padding-top: 80px;
        transform: translate(10px, 0);
        transition: 0.3s ease;
    }

    .nav-link {
        color: #333 !important;
    }

    .hide {
        display: block;
    }

    .cancel-icon {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .links-icons {
        padding: 2rem 3rem 150rem;
    }

    .imgs {
        margin: 0 6rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr 1fr;
    }

    /* ********CONTACT********* */
    .contact {
        grid-template-columns: 1fr;
    }
}

/* *******AT 600PX****** */
@media (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }

    .links-icons {
        padding: 2rem;
    }

    .social-links {
        display: flex;
        gap: 1.5rem;
    }

    .imgs {
        margin: 0 4rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr;
    }

    .so-icon {
        width: 15px;
        height: 15px;
    }
}