/* *****AT 1200PX****** */
@media (min-width: 75em) {
    html {
        font-size: 80%;
    }

    .img-box {
        grid-template-columns: repeat(5, 1fr)
    }
}

/* *****AT 896PX****** */
@media (max-width: 56em) {
    .comp-n {
        padding: 30px 0;
    }

    .comp {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .hide-links {
        display: none;
        position: fixed;
        flex-direction: column;
        gap: 50px;
        top: 0;
        right: 0;
        background-color: #000000c5;
        width: 60vw;
        height: 80vh;
        text-align: center;
        padding-top: 130px;
        transform: translate(10px, 0);
        transition: 0.3s ease;
    }

    .nav-link {
        color: #fff !important;
    }

    .hide {
        display: block;
    }

    .cancel-icon {
        display: none;
        position: fixed;
        top: 85px;
        right: 25px;
    }

    .links-icons {
        padding: 3rem 3rem 5rem !important;
    }

    .imgs {
        margin: 0 6rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr 1fr;
    }

    /* ********CONTACT********* */
    .contact {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 4rem;
    }

    .m-text {
        font-size: 2.2rem;
    }

    /* ABOUT PAGE */
    .about-sect {
        margin: 0 10rem 2rem;
    }

    .bio {
        padding: 3.8rem 1.8rem 1.8rem;
    }

    .bio-head {
        font-size: 1.6rem;
        margin-bottom: 2.6rem;
    }

    .bio-text {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
        line-height: 22px;
    }

}

/* *******AT 600PX****** */
@media (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }

    .links-icons {
        padding: 2rem;
    }

    .social-links {
        display: flex;
        gap: 1.5rem;
    }

    .imgs {
        margin: 0 4rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr;
    }

    .so-icon {
        width: 15px;
        height: 15px;
    }

    /* ABOUT PAGE */
    .about-sect {
        margin: 0 3rem 2rem;
    }

    .bio {
        padding: 3.8rem 1.2rem 1rem;
    }

    .bio-head {
        font-size: 1.6rem;
        margin-bottom: 2.6rem;
    }

    .bio-text {
        font-size: 1.43rem;
        margin-bottom: 1.2rem;
        line-height: 18px;
    }
}