/* *****AT 1200PX****** */
@media (min-width: 75em) {
    html {
        font-size: 80%;
    }

    .img-box {
        grid-template-columns: repeat(5, 1fr)
    }
}

/* *****AT 896PX****** */
@media (max-width: 56em) {
    .hide-links {
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 30px;
        top: 50px;
        right: 0;
        background-color: #888;
        padding: 20px 30px 85px 15px;
    }

    .nav-link {
        color: #fff !important;
    }

    .hide {
        display: block;
    }

    .cancel-icon {
        display: none;
    }

    .links-icons {
        padding: 2rem 3rem;
    }

    .imgs {
        margin: 0 6rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr 1fr;
    }
}

/* *******AT 600PX****** */
@media (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }

    .links-icons {
        padding: 2rem;
    }

    .social-links {
        display: flex;
        gap: 1.5rem;
    }

    .imgs {
        margin: 0 4rem 3rem;
    }

    .img-box {
        grid-template-columns: 1fr;
    }

    .so-icon {
        width: 15px;
        height: 15px;
    }
}