.imgs {
    max-width: 200rem;
    margin: 0 2rem 3rem;
}

.img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    align-items: stretch;
    justify-content: center;
}

.pic {
    width: 100%;
}

footer {
    max-width: 200rem;
    margin: 2rem 0;
    text-align: center;
}

footer p {
    font-size: 12px;
}

/* ***********CONTACT PAGE********** */
.contact-sect {
    padding: 5rem;
}

.m-body {
    text-align: center;
    margin: 0 0 50px;
}

.heading {
    margin-bottom: 10px;
    font-size: 4.8rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: #dfd5d5;
}

.m-text {
    color: #dfd5d5;
    font-size: 2.4rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.cont {
    text-align: center;
}

.p-no {
    background-color: #ff00008e;
    padding: 10rem 0;
}

.email {
    background-color: #eee4e481;
    padding: 10rem 0;
}

.e-text {
    color: #333;
    font-size: 1.6rem;
    margin-top: 20px;
}

.phone {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #fff;
}

/* **********ABOUT PAGE********** */
.about-sect {
    max-width: 200rem;
    margin: 0 25rem 2rem;
}

.ceo {
    background-image: url(../imgs/_MG_0362.jpg);
    background-size: 100% 100%;
    padding: 38rem 1.5rem 1.5rem;
}

.ceo-name {
    font-size: 2rem;
    color: #fff;
}

.bio {
    background-image: linear-gradient(#000000d3, #000000da), url(../imgs/_MG_0400.jpg);
    background-size: 100% 100%;
    padding: 5rem 3rem 1rem;
    margin-top: 1.2rem;
}

.bio-head {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
}

.bio-text {
    color: #fff;
    font-size: 1.5rem;
    line-height: 20px;
    margin-bottom: 2rem;
}