.imgs {
    max-width: 200rem;
    margin: 0 2rem 3rem;
}

.img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    align-items: stretch;
    justify-content: center;
}

.pic {
    width: 100%;
}

footer {
    max-width: 200rem;
    margin: 2rem 0;
    text-align: center;
}

footer p {
    font-size: 12px;
}