.imgs {
    max-width: 200rem;
    margin: 0 2rem;
}

.img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    align-items: stretch;
    justify-content: center;
}

.pic {
    width: 100%;
}